.header {
  background: var(--blue);
  color: var(--gray);
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  position: sticky;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .header {
    padding: 0 .75em;
  }
}