.main {
  flex: .8;
  background: var(--lightBlue);
  min-height: 92vh;
}
.episode-container {
  padding: 2em;
}
.episode-header {
  margin-bottom: 2em;
}
.episode-name {
  font-size: 2.5rem;
  color: var(--yellow);
}
.episode-details {
  font-size: 24px;
  color: var(--blue);
}
.char-container {
  display: flex;
  flex-wrap: wrap;
}
.char-card {
  flex: 1 1 25%;
  margin-bottom: 20px;
  cursor: pointer;
}
.char-card:hover {
  transform: scale(1.05);
  transition: all .2 ease-in-out;
}
.char-img {
  margin-bottom: 5px;
}
.char-img img {
  width: 250px;
}
.char-name {
  font-size: 1.5rem;
  color: var(--yellow);
}
.char-details {
  font-size: 18px;
  color: var(--blue);
}

@media screen and (max-width: 600px) {
  .main {
    flex: .7;
  }
  .episode-container {
    padding: .75em;
  }
  .episode-name {
    font-size: 1.8rem;
  }
  .episode-details {
    font-size: 18px;
  }
  .char-container {
    flex-flow: column nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 478px) {
  .char-img img {
    width: 150px;
  }
}