.main {
  flex: .8;
  background: var(--lightBlue);
  min-height: 92vh;
}
.episode-container,
.char-wrapper {
  padding: 2em;
}
.episode-header {
  margin-bottom: 2em;
}
.episode-name {
  font-size: 2.5rem;
  color: var(--yellow);
  text-shadow: 1px 0 3px var(--blue);
}
.episode-details {
  font-size: 24px;
  color: var(--blue);
  text-shadow: 1px 0 3px var(--gray);
}
.char-container {
  display: flex;
  flex-wrap: wrap;
}
.char-card {
  flex: 1 1 250px;
  margin-bottom: 20px;
}
.char-card:hover {
  transform: scale(1.05);
  transition: all .2 ease-in-out;
}
.char-img {
  margin-bottom: 5px;
}
.char-img img,
.char-left img {
  width: 250px;
}
.char-name {
  font-size: 1.5rem;
  color: var(--yellow);
  text-shadow: 1px 0 3px var(--blue);
  cursor: pointer;
}
.char-name:hover {
  text-decoration: underline;

}
.char-details {
  font-size: 18px;
  color: var(--blue);
  text-shadow: 1px 0 3px var(--gray);
}

.char-hero {
  display: flex;
  padding-bottom: 2em;
  border-bottom: 1px solid var(--gray);
}
.char-left {
  margin-right: 1em;
}
.char-right {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}



@media screen and (max-width: 600px) {
  .main {
    flex: .7;
  }
  .episode-container,
  .char-wrapper {
    padding: .75em;
  }
  .episode-name {
    font-size: 1.8rem;
  }
  .episode-details {
    font-size: 18px;
  }
  .char-container {
    flex-flow: column nowrap;
    align-items: center;
  }
  .char-hero {
    flex-direction: column;
  }
}

@media screen and (max-width: 478px) {
  .char-card {
    flex: 1 1 150px;
  }
  .char-hero {
    align-items: center;
  }
  .char-img img,
  .char-left img {
    width: 150px;
  }
}