.sidebar {
  flex: .2;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  height: 92vh;
  min-width: fit-content;
  overflow-y: scroll;
  background: var(--gray);
}
.sidebar-list {
  list-style: none;
  margin-top: 1em;
}
.sidebar-item {
  margin: 10px 0;
}
.sidebar-link {
  text-decoration: none;
  color: var(--blue);
  cursor: pointer;
  transition: color .2 ease-in-out;
}
.sidebar-link:hover {
  color: var(--lightBlue);
}


@media screen and (max-width: 600px) {
  .sidebar {
    padding: 0;
    padding-left: .75em;
  }
  .sidebar-btn {
    padding: .5em .75em;
    white-space: initial;
  }
}