@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import './partials/header.css';
@import './partials/sidebar.css';
@import './partials/main.css';

:root {
  --blue: #2F4368;
  --yellow: #FAF76B;
  --gray: #EAEAEA;
  --lightBlue: #62a4ab;
}
html {
  font-family: 'Creepster', cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: .5em;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  outline: 1px solid var(--gray);
  border-radius: 4px;
}
::-moz-scrollbar {
  width: .5em;
}
::-moz-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-moz-scrollbar-thumb {
  background-color: var(--blue);
  outline: 1px solid var(--gray);
  border-radius: 4px;
}

.wrapper {
  display: flex;
}
.btn {
  background: transparent;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 4px;
  padding: 1em 1.5em;
  margin: 1em 0;
  margin-right: .75em;
  /* max-width: max-content; */
  font-family: inherit;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3 ease;
}
.btn:hover {
  background: var(--blue);
  color: var(--gray);
}
.btn:disabled {
  cursor: not-allowed;
  opacity: .5;
}

@media screen and (max-width: 600px) {
  .btn {
    padding: .75em 1em;
  }
}